.aboutus-custom{
  background-size: 77vw;
}
.exp-custom{
  display: flex;
  flex-direction: column-reverse;
}




.success-section {

  background-image: url(../img/abstract-black-fabric-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.about-h1 {
    font-size: 51px;
  }
  main h1 {
   line-height: 51px;
  }
  .about-card-body-blog-custom h1 {
    line-height: 35px;
  }
.about-top {
position: absolute;
background-color: transparent;
width: 100vw;
}
.about-main {

}
.about-header-custom {
  padding-top: 100px;
  background-color: black ;
}
.about-btn-custom {
  font-size: 14px;
  font-family: "archivo", sans-serif;
  text-transform: none;
  border-width: thin;
}
.about-btn-prev {
  background: transparent;
  color: white;
  border: none;
  padding: 50px 25px;
}
.flipster--flat .flipster__item--past, .flipster--flat .flipster__item--future{
  opacity: 1 !important;
}
p {
  font-size: 20px;
}
#coverflow {
  padding-bottom:80px;
}
.image-text-absolute {
  position: absolute;
  left: 45%;
  bottom: 35%;
}


.about-h1-custom {
  font-size: 41px;
  text-transform: uppercase;
  padding-top: 5vh;
  font-family: "archivo", sans-serif;
}

.about-date-custom{
   background-color: black !important;border-radius: unset;
}
.about-btn-blog-custom {
  background-color: black !important; border-radius: unset;
}
.about-title-blog-custom {
  color: black !important;
}
.about-card-body-blog-custom {
   padding-left: 0;
}
.about-img-blog-custom {
  border-radius: unset;
}
@media only screen and (max-width: 1400px) {
  .s-text .row {
    padding-left: 20px;
    padding-right: 20px;
}
}
@media only screen and (min-width: 992px) {
  
  .about-title-custom{
    color: black;
    font-size: 51px;
  }
}
@media only screen and (max-width: 992px) {
  .hide-mobile {
    display: none;
  }
  .center-mobile {
    text-align: -webkit-center;
  }
  .about-title-custom{
    color: black;
    font-size: 40px;
  }
}
@media only screen and (max-width: 576px) {

  .presentation-img {
    display: block;
  }
}
@media only screen and (max-width: 600px) {

  .image-text-absolute p {
    font-size: 15px !important;
  }
}
